<h2 class="country__name">{{name}}</h2>
<div class="title">
    <div>
        <ul class="list country-list">
            <li class="country-item">
                <p class="country__title">Capital:
                    <span class="country__title-item">{{capital}}</span>
                </p>
                
            </li>
            <li class="country-item">
                <p class="country__title">Population:
                    <span class="country__title-item">{{population}}</span>
                </p>
                
            </li>
            <li class="country-item">
                <p class="country__title">Languages:
                    <ul class="languages-list">
                    {{#each languages}}
                        <li class="languages-list__item">{{this.name}}</li>
                    {{/each}}
                </ul>
                </p>
                
            </li>
        </ul>
    </div>
    <img src="{{flag}}" alt="Flag of {{name}}" width="200" height="300">
</div>